<!-- <div class="dog col-md-offset-0 col-md-12 col-lg-offset-2 col-lg-10"> -->
<div class="col-sm-12">
    <div class="text-center mt15">
        <button ng-show="orderInProgress() && !orderCancelled()" type="button" class="sk-btn btn-red" ng-click="cancelOrder()">CANCEL TRANSACTION</button>
        <button ng-show="orderPurchased()" type="button" class="sk-btn btn-red" ng-click="managerApprovel()">REFUND ORDER</button>
    </div>
    <div class="mt15">
        <div class="cart">
            <dl class="dl-horizontal">
                <dt>STATUS: </dt>
                <dd>{{ order.status }}</dd>
            </dl>
        </div>
        <hr />
        <div class="cart">
            <div ng-repeat="lineItem in order.orderItems">
                <dl class="dl-horizontal">
                  <dt>{{ lineItem.product.name }}</dt>
                  <dd class="text-right">{{ lineItem.itemSubTotal | currency }}</dd>
                </dl>
            </div>
        </div>
        <hr/>
        <div class="payments" ng-repeat="payment in existingPayments">
            <div>
                <dl class="dl-horizontal">
                  <dt>{{ payment.recordType.name }}</dt>
                  <dd class="text-right">{{ payment.amount | currency }} <i ng-show="orderInProgress()" class="fa fa-times" ng-click="removePayment(order.id,payment.id)"></i></dd>
                </dl>
                <!-- <dl ng-if="payment.creditCardNumber != null" class="pull-right">
                    <dd>{{ payment.creditCardNumber }}</dd>
                </dl> -->
            </div>
        </div>
        <div class="payments" ng-if="order.discountAmount != null && order.discountAmount != 0">
            <div>
                <dl class="dl-horizontal">
                  <dt>DISCOUNT</dt>
                  <dd class="text-right">{{ order.discountAmount | currency }}</dd>
                </dl>
            </div>
        </div>
        <div class="payments" ng-if="order.managerApprovedTotalDiscount != null && order.managerApprovedTotalDiscount != 0">
            <div>
                <dl class="dl-horizontal">
                  <dt>MGR DISCOUNT</dt>
                  <dd class="text-right">{{ order.managerApprovedTotalDiscount | currency }}</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="totals">
        <div>
            <dl class="dl-horizontal">
              <dt>Sub Total</dt>
              <dd class="text-right">{{ order.orderAmount | currency }}</dd>
            </dl>
        </div>
        <div>
            <dl class="dl-horizontal">
              <dt>Sales Tax</dt>
              <dd class="text-right">{{ order.taxAmount | currency }}</dd>
            </dl>
        </div>
        <div class="total">
            <dl class="dl-horizontal">
              <dt>Total</dt>
              <dd class="text-right">{{ order.totalOrderAmount | currency }}</dd>
            </dl>
        </div>
        <div class="remaining">
            <dl class="dl-horizontal">
              <dt>Remaining</dt>
              <dd class="text-right">{{ order.totalAmountDue | currency }}</dd>
            </dl>
        </div>
        <div class="remaining" ng-show="order.changeDue && order.changeDue > 0">
            <dl class="dl-horizontal">
              <dt>Change Due</dt>
              <dd class="text-right">{{ order.changeDue | currency }}</dd>
            </dl>
        </div>
    </div>
</div>


<modal  title="{{modelTitle}}" visible="showModal" id="payment">
    <div ng-switch on="modelType">
        <div ng-switch-when="manager-auth" >

            <div class="row">
                <h3 class="text-center mb20">Manager Approval</h3>
                <div class="col-sm-6">

                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="side-text control-label col-sm-6" for="managerId" style="padding-right: 0px">Manager ID</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="managerId" ng-focus="checkFieldFocused('managerId')" placeholder="" ng-model="auth.managerId">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="side-text control-label col-sm-6" for="managerPin" style="padding-right: 0px">Manager PIN</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" ng-focus="checkFieldFocused('managerPin')" id="managerPin"  placeholder="" ng-model="auth.managerPin">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-6 mb20">
                    <numkeypad ng-model="auth[selectedAuthField]"> </numkeypad>
                </div>
            </div>
            <div class="modal-footer">
                <center>
                    <button type="button" class="btn btn-blue btn-wide" ng-click="verifyManagerPin()" data-dismiss="modal">Approve</button>
                </center>
            </div>
        </div>
    </div>
</modal>

<!-- <div class="panel panel-primary" style="border-radius:0px; padding: 0px;margin: 0px;">
    <div class="panel-heading" style="background-color: white;border: 0px;">
        <center><button type="button" class="sk-btn btn-red" style="margin-bottom: 0px;">CANCEL TRANSACTION</button></center>
    </div>
    <div class="panel-body" style="padding:0px; min-height: 200px; ">
        <div style="padding:10px; background-color: white">
                <table class="table table-fixed" >
                <tbody style=" max-height: 280px; ">
                    <tr ng-repeat="item in order.orderItems" >
                        <td class="col-xs-6 panelCell" >{{ item.name }}</td>
                        <td class="col-xs-6 panelCell text-right">{{item.unitPrice | currency}}</td>
                    </tr>
                </tbody>
                </table>
        </div>
    </div>
    <div class="panel-footer" style="padding:0px;">
        <div style="padding:10px; background-color: white">
        <table class="table">
            <tbody>
            <tr>
                <td class="panelCell">SUB TOTAL</td>
                <td class="panelCell"></td>
                <td class="panelCell text-right">{{order.orderAmount | currency}}</td>
            </tr>
            <tr>
                <td class="panelCell">SALES TAX</td>
                <td class="panelCell"></td>
                <td class="panelCell text-right">{{order.taxAmount | currency}}</td>
            </tr>
            <tr>
                <td ><strong>TOTAL</strong></td>
                <td ></td>
                <td class="text-right"><strong>{{order.totalOrderAmount | currency}}</strong></td>
            </tr>
            <tr>
                <td class="panelCell">REMAINING</td>
                <td class="panelCell"></td>
                <td class="panelCell text-right">{{order.totalAmountDue | currency}}</td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>

</div> -->

