<div class="container-fluid">
	<h3>Hardware Actions</h3>
	<table class="table">
		<tr>
			<th>Name</th>
			<th>Actions</th>
		</tr>
		<tr ng-repeat="device in devices" ng-class="{success: device.status}">
			<td>{{ device.name }}</td>
			<td>
				<div class="btn-group pull-left" ng-repeat="action in device.actions">
                      <button type="button" class="sk-btn btn-orange" ng-click="action.action()">{{ action.title }}</button>
                      <div style="width:5px;height:auto;display:inline-block;"></div>
                </div>
			</td>
		</tr>
	</table>

	<h3>Hardware Console</h3>
	<textarea show-tail style="font-size:11pt;" id="console" readonly rows="3" ng-model="console"></textarea>
	<a class="btn pull-right" ng-click="saveConsole()" ng-href="{{ url }}">Export Console</a>
<div>