
<div class="square-container">
    <div class="square-box">
        <div class='square-content'><div><span ng-click="numKeyPressed(7)">7</span></div></div>
    </div>
    <div class="square-box">
        <div class='square-content'><div><span ng-click="numKeyPressed(8)">8</span></div></div>
    </div>
    <div class="square-box">
        <div class='square-content'><div><span ng-click="numKeyPressed(9)">9</span></div></div>
    </div>
    <div class="square-box">
        <div class='square-content'><div><span ng-click="numKeyPressed(4)">4</span></div></div>
    </div>
    <div class="square-box">
        <div class='square-content'><div><span ng-click="numKeyPressed(5)">5</span></div></div>
    </div>
    <div class="square-box">
        <div class='square-content'><div><span ng-click="numKeyPressed(6)">6</span></div></div>
    </div>
    <div class="square-box">
        <div class='square-content'><div><span ng-click="numKeyPressed(1)">1</span></div></div>
    </div>
    <div class="square-box">
        <div class='square-content'><div><span ng-click="numKeyPressed(2)">2</span></div></div>
    </div>
    <div class="square-box">
        <div class='square-content'><div><span ng-click="numKeyPressed(3)">3</span></div></div>
    </div>
    <div class="square-box">
        <div class='square-content'><div><span ng-click="decimalKeyPressed()">.</span></div></div>
    </div>
    <div class="square-box">
        <div class='square-content'><div><span ng-click="numKeyPressed(0)">0</span></div></div>
    </div>
    <div class="square-box">
        <div class='square-content'><div><span ng-click="deleteKeyValue()"><</span></div></div>
    </div>
</div>
