<div>
    <div class="row">
        <h3 class="text-center mb20">Activate Gift Card</h3>
        <div class="col-push-3 col-sm-6">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="side-text control-label col-sm-6" for="cardNumber" style="padding-right: 0px">Card Number</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="cardNumber" ng-focus="giftCardFieldFocused('giftCardNumber')" placeholder="" ng-model="giftCard.giftCardNumber">
                    </div>
                </div>
            </form>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="side-text control-label col-sm-6" for="cardNumber" style="padding-right: 0px">Amount</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="giftcardamount" ng-focus="giftCardFieldFocused('amount')" placeholder="" ng-model="giftCard.amount">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <center>
            <button type="button" class="btn btn-blue btn-wide" ng-disabled="giftCardDataComplete()" onclick="$('#paymentModal').modal('hide')" ng-click="activateGiftCard(giftCard)" data-dismiss="modal">ACTIVATE</button>
        </center>
    </div>
</div>
